html{
  --color-background:#39393d;
  --color-on:#e8e9ed;
}

html[data-theme='light'] {
  --color-background:#dfecf7;
  --color-on:#39393d;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.toggle-thumb:before {
  content: "";
  height: 26px;
  width: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: var(--color-on);
  transition: .4s all ease;
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 40px;
  cursor: pointer;
  overflow:hidden;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

#img_switch:nth-child(1) {
  position: relative;
  left: -26px;
}

img {
  transition: .4s all ease;
}

.checkbox:checked + .toggle-thumb > img {
  transform: translateX(26px);
}
.checkbox:checked + .toggle-thumb:before {
  transform: translateX(26px);
}
