table td, table th {
    vertical-align: middle;
    border: 1px solid var(--font-color);
    line-height: var(--global-line-height);
    padding: calc(var(--global-space)/ 2);
    font-size: 1em;
}

td img {
  vertical-align: middle;
}

.rank {
  text-align: center;
}
