body {
  margin: 40px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #909090 var(--background-color);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 10px;
  border: 3px solid var(--background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

.box {
  padding: 20px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: flex;
}

.wrapper-inside {
  display: flex;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    min-height: 100vh;
  }

  .wrapper-inside {
    flex-direction: column;
    min-height: 100vh;
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  }

  .wrapper-inside {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "blog git"
    "blog git";
  }
}

figure {
  max-width: 768px;
}

figure img {
  height: auto;
}
