body {
  margin: 40px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #909090 var(--background-color);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 10px;
  border: 3px solid var(--background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

::-webkit-scrollbar-corner {
  background: var(--background-color);
}

.commit-text {
  color: var(--background-color);
}

.collapsible {
  grid-area: two;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  height: 50px;
  font-family: var(--font-stack);
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  bottom: 20px;
  overflow: hidden;
}

.active, .collapsible:hover {
  background-color: var(--code-bg-color);
}

.coll-content {
  grid-area: three;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.box {
  padding: 20px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.wrapper-article {
  grid-area: one;
}

.wrapper {
  display: flex;
}

.canva1 {
  grid-area: two;
}

.canva2 {
  grid-area: three;
}

.canva3 {
  grid-area: four;
}

.wrapper-inside {
  display: flex;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    min-height: 100vh;
  }

  .wrapper-inside {
    flex-direction: column;
    min-height: 100vh;
  }

  .wrapper-dashboard .to-border {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  }

  .wrapper-dashboard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one one"
    "two three"
    "two four";
  }

  .wrapper-inside {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "one two"
    "one three";
  }
}

figure {
  max-width: 768px;
}

figure img {
  height: auto;
}
