<!DOCTYPE html>
<html lang="fr">
<html class="h-feed">
<head>
  <link rel="icon" href="/static/media/logo_gradient.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Mohamed Chamrouk
  </title>

  <link rel="stylesheet" href="/static/css/terminal.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style_soup.css">
  <link rel="stylesheet" type="text/css" href="/static/css/switch.css">
  <link rel="stylesheet" type="text/css" href="/static/css/dropdown.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <link rel="stylesheet" type="text/css" href="/static/css/snackbar.css">


  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


  {% block head %}{% endblock %}
  <script type="text/javascript">
  function snackFunction(id) {
    // Get the snackbar DIV
    var x = document.getElementById(id);

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }

  const htmlEl = document.getElementsByTagName('html')[0];

  const toggleTheme = (theme) => {
    htmlEl.dataset.theme = theme;
  }

  if (document.cookie.split(';').some(function(item) {
    return item.trim().indexOf('theme=') == 0
  })) {
    if (document.cookie.split(';').some(function(item) {
      return item.indexOf('theme=light') >= 0
    })) {
      toggleTheme('light');
    } else {
      toggleTheme('dark');
    }
  }

  function changeTheme() {
    var checkbox = document.getElementById("darkSwitch");

    if (checkbox.checked == true){
      toggleTheme('light');
      document.cookie = "theme=light";
    } else {
      toggleTheme('dark');
      document.cookie = "theme=dark";
    }
  }
  $(document).on("click", ".action-buttons .dropdown-menu", function(e){
    e.stopPropagation();
  });
  </script>
</head>
<body>
  <div id="snackbar"> L'identification a réussi !</div>
  <div id="snackbar-error"> L'identification a échoué !</div>
  <div class="wrapper">


    <header class="box header">
      <div class="terminal-nav">
        <div class="terminal-logo" style="width:100%">
          <div style="float: left; padding-top: 20px; padding-bottom: 20px; padding-top: calc(var(--global-space) * 3); display: inline-block">
            <svg width="37" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="e23dJHI0wty1" width="50" viewBox="50 12 100 100" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <g id="e23dJHI0wty6">
                <polygon id="e23dJHI0wty8" points="0,-37.511115 37.511115,0 0,37.511115 -37.511115,0 0,-37.511115" transform="matrix(0.28046229868445 0 0 0.46833939252961 99.99999999999989 41.07489930999991)" fill="rgb(98,196,255)" stroke="none" stroke-width="0"/>
                <g id="e23dJHI0wty9">
                  <path id="e23dJHI0wty10" d="M81.154960,74.955430L89.479550,61.054340L100,78.622270L110.520450,61.054340L118.845040,74.955430L108.304050,92.557650L108.324580,92.591940L99.999990,106.493030L91.675400,92.591940L91.695930,92.557650L81.154960,74.955430Z" fill="rgb(98,196,255)" stroke="none" stroke-width="0"/>
                </g>
              </g>
            </svg>
          </div>
          <div class="logo" style="padding-top: calc(var(--global-space) * 3); display: inline-block">

            <a class="p-name u-url" href="/" class="no-style">

              Mohamed <br>
              Chamrouk.
            </a>
          </div>
          <div id="menu-button" style="float: right; padding-top: 34px; width: 30px; ">
            <img height="30" style="width:auto; margin-left: auto; margin-right: auto" id="img_menu" src="/static/media/menu.png" onclick="showMenu()"/>
          </div>
          <script>
          function showMenu() {
            var elements = document.getElementsByClassName("terminal-menu"); //Get the element
            Array.prototype.filter.call(elements, function(element){
              if (element.style.display == "block") {
                element.style.display = "none";
              } else {
                element.style.display = "block";
              }
            });
          }
          </script>
        </div>
        <nav class="terminal-menu">
          <ul>
            {% if current_user.is_authenticated %}
            <li><a class="menu-item" href="/dashboard">Dashboard</a></li>
            {% endif %}
            <li>
              {% if current_user.is_authenticated %}
              <a class="menu-item" href="/logout">Se déconnecter</a>
              {% with messages = get_flashed_messages() %}
              {% if "logged in" in messages %}
              <script>snackFunction("snackbar")</script>
              {% endif %}
              {% endwith %}
              {% else %}
              <div class="dropdown">
                <a onclick="myLoginFunction()" class="dropbtn" id="login-list" >S'identifier</a>
                <div id="myLoginDropdown" class="dropdown-content">
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <script>
                  snackFunction("snackbar-error");
                  document.getElementById("myLoginDropdown").classList.toggle("show");
                  showMenu();
                  </script>
                  <div class="notification is-danger">
                    {{ messages[0] }}</a>.
                  </div>
                  {% endif %}
                  {% endwith %}
                  <form method="POST" action="/login">
                    <fieldset id="inputs">
                      <div class="padding-class"><input id="username" type="text" name="username" placeholder="Utilisateur" required></div>
                      <input id="password" type="password" name="password" placeholder="Mot de passe" required>
                      <div class="padding-button"><input type="submit" class="dropbtn" id="submit" value="S'identifier" onclick="snackFunction()"></div>
                    </fieldset>
                  </form>
                </div>
                {% endif %}

              </li>
              <li><a class="menu-item" href="/portfolio/">Portfolio</a></li>
              <li><a class="menu-item" href="/static/media/CV-Chamrouk-Mohamed.pdf">CV</a></li>
              <li>
                <label class="switch">
                  <input type="checkbox" id="darkSwitch" class="checkbox" onclick="changeTheme()">
                  <span class="toggle-thumb">

                    <img width="20" height="20" id="img_switch" src="/static/media/sun.svg"/>
                    <img width="20" height="20" id="img_switch" src="/static/media/moon.svg"/>

                  </span>
                </label>
              </li>
              {% if current_user.is_authenticated %}
              <link href="/static/css/color_picker.css" rel="stylesheet">
            <script src="/static/js/color_picker.js"></script>
              <li>
                <input id="colorInput" class="colorpicker-custom">
                <div style="width: 10px;"></div>
                <button type="button" class="colorpicker-button" onclick="getInputValue();">Change</button>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>
      <main class="box content">


        {% block content %}{% endblock %}


      </main>
      <aside class="box sidebar aside-bar">
        {% block aside %}{% endblock %}
      </aside>



      <footer class="box footer">
        {% block footer %}{% endblock %}

        <script>

        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        function myLoginFunction() {
          document.getElementById("myLoginDropdown").classList.toggle("show");
        }
        </script>
        <script>
        $(document).click(function(event) {
          var $target = $(event.target);
          if(!$target.closest('.dropdown').length &&
          $('.dropdown-content').is(":visible")) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        });
        </script>



      </footer>

    </div>
  </div>
</body>
<script type="text/javascript">
if (document.cookie.split(';').some(function(item) {
  return item.trim().indexOf('theme=') == 0
})) {
  if (document.cookie.split(';').some(function(item) {
    return item.indexOf('theme=light') >= 0
  })) {
    var checkbox = document.getElementById("darkSwitch");
    checkbox.setAttribute("checked", "true");
  }
}
</script>

</html>
