{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<p>&raquo; <a class="action" href="{{ url_for('blog.create') }}">Nouveau post</a></p>
{% endif %}
<article class="h-entry">
  <h1 class="p-name">
    <a class="u-url" href="/blog/{{post['id']}}">{{ post['title'] }}</a>
  </h1>
  <p>
    par <a class="p-author h-card">{{ post['name'] }}</a>
    le <a class="u-url">
      <time class="dt-published" datetime="{{ post['created'].strftime('%Y-%m-%d %H:%M') }}">
        {{ post['created'].strftime('%d %b %Y à %H:%M') }}
      </time>
    </a>
  </p>
  <div class="e-content">
    <p>{{ markdown(post['body'], extensions=['fenced_code'])|safe }}</p>
  </div>
  {% if (current_user.get_id() | int) == post['author_id'] %}
  <a class="dropbtn-invert" href="{{ url_for('blog.update', id=post['id']) }}">Editer</a>
  {% endif %}
</article>
{% endblock %}
