{% extends 'base_backend.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
{% endblock %}

{% block aside %}
<h1 style="padding: 0px">
  <a>
    Dashboard
  </a>
</h1>
Recensement des dernières activitées monitorées sur le site.
{% endblock %}

{% block content %}


<div class="wrapper-dashboard">
  <div class="to-border" style="grid-area: one">
    <div style="text-align: center">Informations détaillées sur le traffic</div>
    <div style="padding-right:12px">
      <table class="table-info" style="table-layout:fixed; width: 100%; margin-bottom: 0px;">
        <thead>
          <tr>
            <th style="width:22%">@IP</th>
            <th style="width: auto">Pays</th>
            <th>Ville</th>
            <th>OS</th>
            <th>Navigateur</th>
            <th>Date</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="info-table">
      <table class="table-info" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px;">
        <thead style="visibility: collapse">
          <tr>
            <th style="width:22%">@IP</th>
            <th style="width: auto">Pays</th>
            <th>Ville</th>
            <th>OS</th>
            <th>Navigateur</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for session in get_all_sessions()|reverse %}
          <tr>
            {% for k,v in session.items() %}
            {% if k not in ('session', 'continent') %}
            <td>{{ v }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="canva1 to-border" style="width: 100%">
    <div style="text-align: center">Traffic sur les 7 derniers jours</div>
    <canvas id="myBarChart"></canvas>
  </div>
  <div class="canva2 to-border" style="height: 100%; width: 100%;">
    <div style="text-align: center">Pays visiteurs</div>
    <canvas id="myPieChartCountries"></canvas>
  </div>
  <div class="canva3 to-border" style="height: 100%; width: 100%;">
    <div style="text-align: center">Villes visiteuses</div>
    <canvas id="myPieChartCities"></canvas>
  </div>
</div>

<script>
  var xValuesBar = {{ dates|safe }};
  var yValuesBar = {{ values|safe }};
  var barColorsBar = getComputedStyle(document.documentElement).getPropertyValue('--primary-color');
  var grid_color = getComputedStyle(document.documentElement).getPropertyValue('--grid-color');
  var font_color = getComputedStyle(document.documentElement).getPropertyValue('--font-color');
  Chart.defaults.color = font_color;

  new Chart("myBarChart", {
    type: "bar",
    data: {
      labels: xValuesBar,
      datasets: [{
        backgroundColor: barColorsBar,
        data: yValuesBar
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        }
      },
      responsive: true,
      maintainAspectRatio: true,
      title: {
        display: true,
        text: "World Wine Production 2018"
      },
      scales: {
        x: {
          grid: {
            color: grid_color
          }
        },
        y: {
          grid: {
            color: grid_color
          }
        }
      }
    }
  });

  var NamesPie_countries = {{ countries|safe }};
  var ValuesPie_countries = {{ values_co }};
  var NamesPie_cities = {{ cities|safe }};
  var ValuesPie_cities = {{ values_ci }};
  var gradientColors_countries = ["#044874", "#2c5c84", "#477195", "#6187a6", "#7b9db7", "#96b3c8", "#b1cada", "#cee1ec", "#ebf8ff"].reverse()
  var gradientColors_cities = ["#07134a", "#181f57", "#262c63", "#343970", "#41477d", "#4e558b", "#5c6398", "#6a72a6", "#7880b3", "#8690c1", "#959fcf", "#a4afdd", "#b3bfeb"].reverse()

  new Chart("myPieChartCountries", {
    type: "pie",
    defaults: {
      color: font_color
    },

    data: {
      labels: NamesPie_countries,
      datasets: [{
        borderWidth: 0,
        backgroundColor: gradientColors_countries,
        data: ValuesPie_countries
      }]
    },
    options: {
      plugins: {
        legend: {
          position: 'left'
        }
      }
    }
  });

  new Chart("myPieChartCities", {
    type: "pie",
    defaults: {
      color: font_color
    },

    data: {
      labels: NamesPie_cities,
      datasets: [{
        borderWidth: 0,
        backgroundColor: gradientColors_cities,
        data: ValuesPie_cities
      }]
    },
    options: {
      plugins: {
        legend: {
          position: 'right'
        }
      }
    }
  });
</script>
{% endblock %}
