{% extends 'base_backend.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
{% endblock %}

{% block aside %}
<h1 style="padding: 0px">
  <a>
    Dashboard
  </a>
</h1>
{% endblock %}

{% block content %}
<div>
  <canvas id="myChart"></canvas>
</div>

<table>
  <caption>
    Traffic récent (10 dernières connexions)
  </caption>
  <thead>
    <tr>
      <th>@IP</th>
      <th>Pays</th>
      <th>Ville</th>
      <th>OS</th>
      <th>Navigateur</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for session in get_all_sessions()[:min(10, len(get_all_sessions()))] %}
    <tr>
      {% for k,v in session.items() %}
        {% if k not in ('session', 'continent') %}
        <td>{{ v }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {%endfor%}
  </tbody>
</table>

<!--
<script type="text/javascript">
var xyValues = [
{x:50, y:7},
{x:60, y:8},
{x:70, y:8},
{x:80, y:9},
{x:90, y:9},
{x:100, y:9},
{x:110, y:10},
{x:120, y:11},
{x:130, y:14},
{x:140, y:14},
{x:150, y:15}
];

new Chart("myChart", {
type: "scatter",
data: {
datasets: [{
pointRadius: 4,
pointBackgroundColor: "rgb(0,0,255)",
data: xyValues
}]
},
options: {
legend: {display: false},
scales: {
xAxes: [{ticks: {min: 40, max:160}}],
yAxes: [{ticks: {min: 6, max:16}}],
}
}
});
</script>
-->
{% endblock %}
