{% extends 'base_backend.html' %}

{% block aside %}
<div class="h-card">
  <img class="u-photo u-logo" src="/static/media/profile_pic.png">
  <h3>
    <a class="p-name u-url" rel="me" href="/">
      Mohamed Chamrouk
    </a>
  </h3>
  <p class="p-note">
    Bienvenu sur mon site !</p>
    <p class="p-note">
      Je suis un jeune étudiant en cursus d'Ingénieur dans les réseaux et télécoms.
      J'ai une passion pour l'informatique depuis tout jeune que je cultive avec quelques projets et une soif constante
      des avancées du milieu. Je me suis récemment trouvé une passion pour le réseaux, domaine dans lequel j'aimerais faire carrière.

    </p>
  </div>
  <div>
    <h3>CONTACTS:</h3>
    <link rel="pgpkey" href="key.pub">
    <nav>
      <ul>
        <li>
          <a href="mailto:mohamed.chamrouk@telecom-sudparis.eu" rel="me">
            Email
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/mohamed-chamrouk" rel="me">
            Linkedin
          </a>
        </li>
        <li>
          <a href="tel:+33681780376" rel="me">
            Téléphone
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {% endblock %}

  {% block footer %}
  <div class="dropdown">
    <p>&raquo; <a onclick="myFunction()" class="dropbtn">Sources</a></p>
    <div id="myDropdown" class="dropdown-content">
      <a href="https://terminalcss.xyz/">terminal.css</a>
      <a href="https://github.com/mohamed-chamrouk/mohamed.chamrouk.fr">GitHub</a>
    </div>
  </div>
  {% endblock %}
