<!DOCTYPE html>
<html class="h-feed">
<head>
  <link rel="icon" href"static/media/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    mohamed.chamrouk.fr
  </title>

  <link rel="stylesheet" href="/static/css/terminal.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style_soup.css">
  <link rel="stylesheet" type="text/css" href="static/css/switch.css">
  <link rel="stylesheet" type="text/css" href="static/css/dropdown.css">
  <link rel="stylesheet" type="text/css" href="static/css/login.css">

  <script src="http://code.jquery.com/jquery-3.6.0.js"></script>

  {% block stylesheets %}{% endblock %}
  <script type="text/javascript">
  const htmlEl = document.getElementsByTagName('html')[0];

  const toggleTheme = (theme) => {
    htmlEl.dataset.theme = theme;
  }

  if (document.cookie.split(';').some(function(item) {
    return item.trim().indexOf('theme=') == 0
  })) {
    if (document.cookie.split(';').some(function(item) {
      return item.indexOf('theme=light') >= 0
    })) {
      toggleTheme('light');
    } else {
      toggleTheme('dark');
    }
  }

  function changeTheme() {
    var checkbox = document.getElementById("darkSwitch");

    if (checkbox.checked == true){
      toggleTheme('light');
      document.cookie = "theme=light";
    } else {
      toggleTheme('dark');
      document.cookie = "theme=dark";
    }
  }
  $(document).on("click", ".action-buttons .dropdown-menu", function(e){
    e.stopPropagation();
  });
  </script>
</head>
<body>
  <div class="wrapper">


    <header class="box header">
      <div class="terminal-nav">
        <div class="terminal-logo">
          <div class="logo">
            <a class="p-name u-url" href="/" class="no-style">
              Mohamed
              Chamrouk.
            </a>
          </div>
        </div>
        <nav class="terminal-menu">
          <ul>
            <li>
              {% if current_user.is_authenticated %}
              <a class="menu-item" href="/logout">Logout</a>
              {% else %}
              <div class="dropdown">
                <a onclick="myLoginFunction()" class="dropbtn" id="login-list" >Login</a>
                <div id="myLoginDropdown" class="dropdown-content">
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <script>document.getElementById("myLoginDropdown").classList.toggle("show");</script>
                  <div class="notification is-danger">
                    {{ messages[0] }}</a>.
                  </div>
                  {% endif %}
                  {% endwith %}
                  <form method="POST" action="/login">
                    <fieldset id="inputs">
                      <div class="padding-class"><input id="username" type="text" name="username" placeholder="Username" required></div>
                      <input id="password" type="password" name="password" placeholder="Password" required>
                      <div class="padding-button"><input type="submit" class="dropbtn" id="submit" value="Log in"></div>
                    </fieldset>
                  </form>
                </div>
                {% endif %}
              </li>
              <li><a class="menu-item" href="/portfolio">Portfolio</a></li>
              <li><a class="menu-item" href="/static/media/CV-Chamrouk-Mohamed.pdf">CV</a></li>
              <li>
                <label class="switch">
                  <input type="checkbox" id="darkSwitch" class="checkbox" onclick="changeTheme()">
                  <span class="toggle-thumb">

                    <img width="20" height="20" id="img_switch" src="static/media/sun.svg"/>
                    <img width="20" height="20" id="img_switch" src="static/media/moon.svg"/>

                  </span>
                </label>
              </li>
            </ul>
          </nav>
        </div>
      </header>


      {% block content %}{% endblock %}



      <aside class="box sidebar">
        <div class="h-card">
          <img class="u-photo u-logo" src="/static/media/profile_pic.png">
          <h3>
            <a class="p-name u-url" rel="me" href="/">
              Mohamed Chamrouk
            </a>
          </h3>
          <p class="p-note">
            Bienvenu sur mon site !</p>
            <p class="p-note">
              Je suis un jeune étudiant en cursus d'Ingénieur dans les réseaux et télécoms.
              J'ai une passion pour l'informatique depuis tout jeune que je cultive avec quelques projets et une soif constante
              des avancées du milieu. Je me suis récemment trouvé une passion pour le réseaux, domaine dans lequel j'aimerais faire carrière.

            </p>
          </div>
          <div>
            <h3>CONTACTS:</h3>
            <link rel="pgpkey" href="key.pub">
            <nav>
              <ul>
                <li>
                  <a href="mailto:mohamed.chamrouk@telecom-sudparis.eu" rel="me">
                    Email
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/in/mohamed-chamrouk" rel="me">
                    Linkedin
                  </a>
                </li>
                <li>
                  <a href="tel:+33681780376" rel="me">
                    Téléphone
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </aside>



        <footer class="box footer">
          <div class="dropdown">
            <p>&raquo; <a onclick="myFunction()" class="dropbtn">Sources</a></p>
            <div id="myDropdown" class="dropdown-content">
              <a href="https://crowdersoup.com/">CrowderSoup</a>
              <a href="https://github.com/mohamed-chamrouk/mohamed.chamrouk.fr">GitHub</a>
            </div>
          </div>

          <script>
          /* When the user clicks on the button,
          toggle between hiding and showing the dropdown content */
          function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
          }

          function myLoginFunction() {
            document.getElementById("myLoginDropdown").classList.toggle("show");
          }

          // Close the dropdown if the user clicks outside of it
          /*window.onclick = function(event) {
          if (!event.target.closest('.dropdown').length && ('.dropdown').isvi) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }*/
  </script>
  <script>
  $(document).click(function(event) {
    var $target = $(event.target);
    if(!$target.closest('.dropdown').length &&
    $('.dropdown-content').is(":visible")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  });
  </script>



</footer>

</div>
</body>
<script type="text/javascript">
if (document.cookie.split(';').some(function(item) {
  return item.trim().indexOf('theme=') == 0
})) {
  if (document.cookie.split(';').some(function(item) {
    return item.indexOf('theme=light') >= 0
  })) {
    var checkbox = document.getElementById("darkSwitch");
    checkbox.setAttribute("checked", "true");
  }
}
</script>
</html>
