{% extends 'base.html' %}

{% block content %}

<main class="box content">
  <article class="h-entry">
    <h1 class="p-name">
      <a class="u-url" href="/">Création de mon site</a>
    </h1>
    <p>
      par <a class="p-author h-card" href="/">
        Mohamed Chamrouk
      </a>
      le <a class="u-url" href="/">
        <time class="dt-published" datetime="May 5, 2021, 2:36 p.m.">
          5 Mai 2021 à 14:36
        </time>
      </a>
    </p>
    <div class="e-content">
      <p>Bienvenue sur mon tout nouveau site web !</p>
        <p>Vous trouverez ici tout ce qui me concerne, comme notamment mon CV ou encore mon portfolio (d'autres sections s'ajouteront avec le temps..).<br>
        Le site est encore en cours de construction donc les changements ne serront pas rares.</p>

        <p>Bonne navigation !

      </p>
    </div>
  </article>
</main>

{% endblock %}
