{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="static/css/image_grid.css">
{% endblock %}


{% block content %}

<div id="grid" class="row">
  <div class="column">
    <img id="myImg" class="img_retract" alt="Mockup d'une application Android" src="/static/media/portfolio/App.png">
    <img id="myImg" class="img_retract" alt="Auto-portrait numérique" src="/static/media/portfolio/babushka_boi.png">
    <img id="myImg" class="img_retract" alt="Affiche pour un évènement étudiant" src="/static/media/portfolio/minetbbq.png">
  </div>
  <div class="column">
    <img id="myImg" class="img_retract" alt="Logo pour un projet étudiant : FarmIA" src="/static/media/portfolio/E2vm8b3.png">
    <img id="myImg" class="img_retract" alt="Logo pour une équipe étudiante" src="/static/media/portfolio/Kraken.png">
    <img id="myImg" class="img_retract" alt="Logo pour un évènement étudiant"src="/static/media/portfolio/open_locaux.png">
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementsByClassName("img_retract");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

for(let i = 0; i<img.length; i++) {
  img[i].onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
}
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>

{% endblock %}
