{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="static/css/image_grid.css">
{% endblock %}


{% block content %}

<div class="row">
  <div class="column">
    <img src="/static/media/portfolio/App.png">
    <img src="/static/media/portfolio/babushka_boi.png">
    <img src="/static/media/portfolio/minetbbq.png">
  </div>
  <div class="column">
    <img src="/static/media/portfolio/E2vm8b3.png">
    <img src="/static/media/portfolio/Kraken.png">
    <img src="/static/media/portfolio/open_locaux.png">
  </div>
</div>

{% endblock %}
