{% extends 'base_backend.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/spotify.css">
{% endblock %}

{% block aside %}
<h1 style="padding: 0px">
  <a>
    <img style=" max-width: 25px; vertical-align: middle; margin: 3px; padding-bottom: 2px" src="/static/media/projects/spotify.png">Spotify User Analytics
  </a>
</h1>
Application permettant de suivre différentes statistiques d'utilisation d'un utilisateur spotify. On y retrouve notamment le nombre d'écoute/jour, les titres les plus écoutés et leurs nombre d'écoute respectif etc...
{% endblock %}

{% block content %}
<div class="wrapper-spotify">
  <form action="/projects/spotify/" style="grid-area: one" method="POST">
    <fieldset>
      <legend style="font-size: 17px">Tops utilisateur</legend>
      <div class="form-buttons" style="padding-bottom: 10px">
        <input {%if time_range == 'short_term'%} style="background-color:var(--primary-color); border-color:var(--primary-color)" {%endif%} type="submit" class="btn btn-default" name="term" value="Court">
        <input {%if time_range == 'medium_term'%} style="background-color:var(--primary-color); border-color:var(--primary-color)" {%endif%} type="submit" class="btn btn-default" name="term" value="Moyen">
        <input {%if time_range == 'long_term'%} style="background-color:var(--primary-color); border-color:var(--primary-color)" {%endif%} type="submit" class="btn btn-default" name="term" value="Long">
      </div>
      <div class="wrapper-spotify-inside">
        <div class="to-border">
          <div style="text-align: center">Top 50 musiques</div>
          <div class="info-table" style="overflow: scroll; height: 800px">
            <table class="table-info" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px;">
              <thead style="visibility: collapse">
                <tr style="vertical-align:middle">
                  <th style="width:10%"></th>
                  <th style="width:20%">Song art</th>
                  <th>Titre</th>
                </tr>
              </thead>
              <tbody>
                {% for track in ttracks %}
                <tr>
                  <td class="rank">{{loop.index}}</td>
                  <td><img class="track_img" src="{{ track.album.images[1].url }}"></td>
                  <td><b>{{track.name}}</b><br>de {% for artist in track.artists %} {% if loop.index == loop.length %} {{ artist.name }} {% else %} {{ artist.name+", "}} {%endif%} {%endfor%}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>


        <div class="to-border">
          <div style="text-align: center">Top 50 artistes</div>
          <div class="info-table" style="overflow: scroll; height: 800px">
            <table class="table-info" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px;">
              <thead style="visibility: collapse">
                <tr>
                  <th style="width:10%"></th>
                  <th style="width:20%">Artist art</th>
                  <th>Artiste</th>
                </tr>
              </thead>
              <tbody>
                {% for artist in tartists %}
                <tr>
                  <td class="rank">{{loop.index}}</td>
                  <td><img class="art_img" style="object-fit: cover" src="{{ artist.images[1].url }}"></td>
                  <td>{{ artist.name }}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <form class="form-spotify-stat" action="/projects/spotify/"  style="grid-area: two" method="POST">
    <fieldset>
      <legend style="font-size: 17px">Statistiques détaillées</legend>
      <div class="form-buttons" style="padding-bottom: 10px">
        <input {%if category == "Artistes" %} style="background-color: var(--primary-color); border-color: var(--primary-color)" {% endif %}type="submit" class="btn btn-default" name="cat" value="Artistes">
        <input {% if category == "Musiques" %} style="background-color: var(--primary-color); border-color: var(--primary-color)"{%endif%}type="submit" class="btn btn-default" name="cat" value="Musiques">
      </div>
      <div class="to-border" >
        <div style="text-align: center">{% if category == "Artistes" %} Statistiques top 50 artistes {% else %} Statistiques top 50 Musiques {% endif %}</div>
        <div class="info-table" style="overflow: scroll; height: 800px">
          <table class="table-info" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px;">
            <thead style="visibility: collapse">
              <tr>
                <th style="width:10%"></th>
                {% if category == "Musiques" %}
                <th style="width:20%">Artist art</th>
                {% endif %}
                <th>Artiste</th>
                <th style="width:15%">Number</th>
              </tr>
            </thead>
            <tbody>
              {% for track in talltime %}
              <tr>
                <td class="rank">{{loop.index}}</td>
                {% if category == "Musiques" %}
                <td><img class="art_img" style="object-fit: cover" src="{{ track.url_track }}"></td>

                <td><b>{{ track.title }}</b> <br>de {{ track.artist}}</td>
                {% else %}
                <td>{{ track.artist }}</td>
                {% endif %}
                <td>{{ track.count }}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<!--
<script>
var img = document.getElementsByClassName("art_img")
var track_img = document.getElementsByClassName("track_img")[0]
for (var x=0; x < img.length; x++) {

img[x].style["height"] = track_img.height+"px";
}
</script>
-->

{% endblock %}
