{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block content %}

<div style="width:100%; border: 1px solid var(--secondary-color); padding: 10px">
  <div class="wrapper-projects">
    <img style="grid-area: first" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png">
    <p style="grid-area: second; padding: 10px">Application permettant de suivre des statistiques d'un utilisateur Spotify sur le long terme. Permet par exemple de récupérer les titres les plus joués, combien de fois ils ont été joués etc...</p>
    <div style="grid-area: third; padding: 10px">
      <a><img src="//upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">GitHub</a>
      <p>&#187; <a>Lancer</a></p>
    </div>
  </div>
</div>

{% endblock %}
