{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/projects.css">
{% endblock %}



{% block content %}
{% if current_user.is_authenticated %}
<p >&raquo; <a class="action" href="{{ url_for('projects.create') }}">Nouveau projet</a></p>
{% endif %}
{% for project in projects %}
<form style="padding-bottom: 15px">
  <fieldset>
    <legend style="font-size: 17px"> <img style=" max-width: 17px; vertical-align: middle; margin: 3px; padding-bottom: 2px" src="/static/media/projects/{{project['idproject']}}.png">{{project['title']}}</legend>
    <div style="width:100%;">
      <div class="wrapper-projects">
        <p class="to-margin"  style="grid-area: second; margin-bottom: 0px">{{project['body']}}</p>
        <div class="form-buttons" style="grid-area: third; text-align: right">
          <div style="display: inline-block" class="to-widen-div">
            <a href="{{project['source']}}">
              <input type="button" class="btn btn-default to-widen" value="Source">
            </a>
          </div>
          {% if current_user.is_authenticated %}
          {% if thread == False %}
          <a href="/projects/{{project['idproject']}}_kill">
            <input type="button" class="btn btn-error to-widen" value="Terminer">
          </a>
          <a href="/projects/{{project['idproject']}}_auth">
            <input type="button" class="btn btn-primary to-widen" value="Lancer">
          </a
          {% else %}
          <a href="/projects/{{project['idproject']}}_auth">
            <input type="button" class="btn btn-primary to-widen" value="Démarrer">
          </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% if current_user.is_authenticated %}
<div style="margin-bottom: 15px; margin-left: 2px">
<a class="dropbtn-invert"  href="{{ url_for('projects.update', id=project['id']) }}">Editer</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}
