{% extends 'projects/workout/workout.html' %}

{% block content %}
<form method="post">
    <a>Ajouter un nouvel entraînement</a>
    <div class="grow-wrap">
        <textarea name="workout" id="body-text" onInput="this.parentNode.dataset.replicatedValue = this.value"
            style="height: 400px;"></textarea>
    </div>
    <input class="dropbtn-invert" type="submit" value="Sauvegarder">
</form>
<hr>
<form action="/projects/workout">
    <div>
        <input class="dropbtn-invert" type="submit" style="left:20px; background: var(--secondary-color);"
            value="Annuler">
    </div>
</form>
{% endblock %}