{% extends 'projects/workout/workout.html' %} {% block content %}
<div class="wrapper-workout">
    <form action="/projects/workout/" style="grid-area: one" method="POST">
        <fieldset style="height: 444px; overflow-y: scroll;">
            <legend style="font-size: 17px">Entraînements</legend>
            <table class="table-info table-home" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px; ">
                <thead style="visibility: collapse;">
                    <tr style="vertical-align:middle">
                        <th>Entraînements</th>
                        {% if current_user.is_authenticated %}
                        <th style="width: 10%;">Supprimer</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions|reverse %}
                    <tr>
                        <td style="border-right-width: 0px;">
                            <a class="btn btn-default"
                                href="/projects/workout/{{session['date']|replace('/', '-')}}">Séance {{
                                session['type']|upper }} du {{session['date']}}</a>
                        </td>
                        {% if current_user.is_authenticated %}
                        <td>
                            <a class="btn btn-error"
                                style="padding-left: 0.75em; padding-right: 0.75em; height: 100%"
                                onclick="alertFunction('{{session['date']|replace('/', '-')}}')">&#10008;</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </fieldset>
    </form>
    <div class="button-edits">
        <table class="table-info table-home" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px; ">
            <thead style="visibility: collapse;">
                <tr style="vertical-align:middle">
                    <th style="width: 30%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a class="btn btn-default" href="/projects/workout/edit_json/">EDITER LE FICHIER JSON</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" href="/projects/workout/add/">AJOUTER UN ENTRAÎNEMENT</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-error">COMPARER LES RESULTATS</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form class="form-spotify-stat" action="/projects/workout/" style="grid-area: three" method="POST">
        <fieldset class="overflow-field">
            <legend style="font-size: 17px">Statistiques détaillées</legend>
            <table class="table-info table-home" style="table-layout:fixed; width:100%; height: 100%; margin-top:0px;">
                <thead style="visibility: collapse;">
                    <tr style="vertical-align:middle">
                        <th>Exercices</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                    <tr>
                        <td>
                            <a class="btn btn-secondary" href="/projects/workout/lift/{{ exercise }}">{{
                                wrd_dict[exercise] }} &#10148;</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </fieldset>
    </form>
</div>

<script>
    function alertFunction(date) {
        var r = confirm("Êtes-vous sûr ?");
        if (r == true) {
            httpGet('/projects/workout/del/' + date)
            location.reload()
        } else {
            httpGet('/projects/workout/')
        }
    }

    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
</script>
{% endblock %}