{% extends 'projects/workout/workout.html' %}

{% block content %}
<div style="margin-bottom: 10px;"><a style="font-size: 1.5em; font-weight: 600; ">Statistiques détaillés pour le {{ wrd_dict[lift] }}</a></div>
<p style="font-size: 1em;">1RM théorique le plus récent : {{ onerepmax }}kg</p> 

<div class="canva1 to-border" style="width: 100%">
    <div style="text-align: center">Statistiques</div>
    <canvas id="myBarChart"></canvas>
</div>

<script>
    var xValuesBar = {{ xValues|safe }};
    var yValuesBar = {{ yValues|safe }};
    var barColorsBar = getComputedStyle(document.documentElement).getPropertyValue('--primary-color');
    var grid_color = getComputedStyle(document.documentElement).getPropertyValue('--grid-color');
    var font_color = getComputedStyle(document.documentElement).getPropertyValue('--font-color');
    Chart.defaults.color = font_color;

    new Chart("myBarChart", {
        type: "line",
        data: {
            labels: xValuesBar,
            datasets: [{
                backgroundColor: barColorsBar,
                data: yValuesBar
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: "World Wine Production 2018"
            },
            scales: {
                x: {
                    grid: {
                        color: grid_color
                    }
                },
                y: {
                    grid: {
                        color: grid_color
                    }
                }
            },
            lineTension: 0.2,
            borderColor: barColorsBar,
        }
    });
</script>
{% endblock %}